@import "./normalize.css";
@import "./simplegrid.css";

#Query_Editor {
  height: 100vh !important;
}

#error {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
  color: darkred;
}

#info {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
  color: darkgray;
}

#loading {
  position: relative;
  left: 37vh;
  top: 10vh;
}

#ResultList {
  height: 93vh;
  overflow: auto;
}
